__pycache__/
*.pyc
*.pyo
contratos.db
contratos_backup.db
database.db
uploads/*
!uploads/.gitkeep
.env
.env.local
*.egg-info/
dist/
build/
.secret_key
config_email.json
dados.json
cert.pem
key.pem
node_modules/
.netlify/
script*/
cookies.txt
env_vars.json
site_id.json
site_info.json
login_*.json
*_body.json
deploy_info.json
create_env.json
alter_query.json
*.log
flask_debug.log
flask_err.txt
flask_stderr.log
flask_stdout.log
erros.log
erro.txt
deploy-netlify.zip
*.mjs
*.cjs
PUBLICADO_NETLIFY/

